[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
behave = {git = "https://github.com/behave/behave",ref = "v1.2.6"}
python-dotenv = "*"

[packages]
flask = "~=1.1.1"
flask-httpauth = "*"
pyyaml = "*"

[requires]
python_version = "3.7"
