[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
python-dotenv = "~=0.11.0"

[packages]
behave = "~=1.2.6"
flask = "~=1.1.1"
flask-httpauth = "~=3.3.0"
pyyaml = "~=5.3"

[requires]
python_version = "3.7"
