[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
python-dotenv = "~=0.11.0"
behave = "~=1.2.6"
flake8 = "~=3.7.9"
bandit = "~=1.6.2"
pytest = "~=5.4.1"

[packages]
flask = "~=1.1.2"
flask-httpauth = "~=3.3.0"
pyyaml = "~=5.3"
gunicorn = "~=20.0.4"
flask-cors = "~=3.0.8"

[requires]
python_version = "3.8.1"
