.alert {
  background-color: #e52207;
  color: white;
  padding: 8px;
  text-align: center;
}

.card {
  border: 2px solid #97d4ea;
  min-height: 80px;
  margin-right: 12px;
  padding: 8px 12px;

  /* Vertical centering */
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.card-tall {
  min-height: 120px;
}

h1 {
  font-size: 38px;
  margin-bottom: 38px;
}

h2 {
  font-weight: normal;
  font-family: 'Merriweather';
  font-size: 20px;
}
